version: "2"

services:
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - "mysql_data:/var/lib/mysql"
      - ".:/app"
  main:
    image: agideo/ruby:2.3-f
    hostname: app-prd
    volumes:
      - "./app:/app"
      - "./config/nginx.conf:/etc/nginx/conf.d/default.conf"
      - "./config/dotssh:/root/.ssh"
      - "./mnt:/mnt"
    ports:
      - "10122:22"
      - "127.0.0.1:10180:80"
    depends_on:
      - redis
      - mysql
    restart: always

  redis:
    image: redis:3.2-alpine
    volumes:
      - "./data/redis:/data"
      - "./mnt:/mnt"
    restart: always

  backup:
    image: agideo/backup:4-a
    hostname: backup
    env_file: config/backup_env
    volumes:
      - "./data/backup_log:/root/Backup/log"
      - "./app/shared/log:/app_log"
      - "./mnt:/mnt"
    restart: always
