version: "2"

services:
  redis:
    image: redis:3.2-alpine
    volumes:
      - "./data/redis:/data"
      - "./mnt:/mnt"

  main:
    image: agideo/baseimage:ruby2.2-b
    hostname: api
    volumes:
      - "./app:/app"
      - "./config/nginx.conf:/etc/nginx/conf.d/default.conf"
      - "./config/dotssh:/root/.ssh"
      - "./mnt:/mnt"
    ports:
      - "10122:22"
      - "127.0.0.1:10180:80"
    depends_on:
      - redis

  backup:
    image: agideo/backup:4
    hostname: backup
    volumes:
      - "./config/logrotate.d:/etc/logrotate.d"
      # - "./config/schedule.rb:/root/config/schedule.rb"
      - "./data/backup:/root/Backup"
      - "./mnt:/mnt"
    restart: always
