SFTP_USERNAME=
SFTP_PASSWORD=
SFTP_IP=
SFTP_PORT=
SFTP_UPLOAD_PATH="/upload/"

# 时间留空，表示不做备份
CRON_LOGROTATE_APP_LOG_AT="0:01 am"
CRON_BACKUP_APP_LOG_AT="2:00 am"
CRON_BACKUP_MYSQL_AT="1:00 am"

MYSQL_SERVER_DATABASE=
MYSQL_SERVER_USERNAME=root
MYSQL_SERVER_PASSWORD=root
MYSQL_SERVER_HOST=mysql
MYSQL_SERVER_PORT=3306

BACKUP_MYSQL_NOTIFY_URL=""
BACKUP_APP_LOG_NOTIFY_URL=""
BACKUP_REDIS_NOTIFY_URL=""
